<div class="recipe-page-title">{{name}}</div>
<div class="recipe-page-format">
  <section class="recipe-picture-display">
    <section>Picture
      <img src="{{image_url}}" alt="" style="width: 300px; height: 300px;">
    </section>
    <section class="display-cook-time">
      <div>cook time: {{total_time}}</div>
    </section>
  </section>
  <div class="display-ingredients">
    <div>ingredients:</div>
    <div>{{ingredients}}</div>
  </div>
</div>
<div class="recipe-instruction-container">
  <div class="display-recipe-instruction">instructions:</div>
  <div class="display-recipe-instruction">{{instructions}}</div>
</div>